PORT=2567
CORS_ORIGIN=http://localhost:3000

# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
CRANKER_KEYPAIR=
TREASURY_PUBKEY=53Qy2ygocLjKWbtjgaepzHfZnf9oiZENJPWMnNUkSz8L
PROGRAM_ID=

# Supabase
SUPABASE_URL=https://xmmfcotkedbshdoqcnic.supabase.co
SUPABASE_SERVICE_KEY=
